<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>COVID19 STATS FOR POLAND</h1>
    <table>
        <tr>
            <th>Date</th>
            <th>Confirmed</th>
            <th>Active</th>
            <th>Deaths</th>
        </tr>
        <tr th:each="info : ${fullInfo}">
            <td th:text="${info.getDate()}"></td>
            <td th:text="${info.getConfirmed()}"></td>
            <td th:text="${info.getActive()}"></td>
            <td th:text="${info.getDeaths()}"></td>
        </tr>
    </table>
</body>
</html>